name: CMake Build with WebRTC

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libavcodec-dev libavformat-dev libavutil-dev pkg-config libssl-dev

    - name: Install LibDataChannel
      run: |
        git clone -b master --depth 1 https://github.com/paullouisageneau/libdatachannel.git
        git submodule update --init --recursive
        cmake -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local
        cmake --build build -j$(nproc)
        sudo cmake --install build
        
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_RTC=ON

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Verify Build
      run: |
        ls -la output/media_server
